@import "../../../style/_vars";

.header {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: $HEADER_SIZE;
	background-color: #ffffff;
	box-shadow: 0 0.1em 0.8em 0 #000000;
}
