$BASE_FONT_SIZE: 13px;
$HEADER_SIZE: 5rem;
$FOOTER_SIZE: 3rem;
$BORDER_RADIUS_SIZE: 1.2rem;

$SPACE_GRAY: #343d46;
$MIDNIGHT_SPACE_GRAY: #03475f;
$GLOWING_BLUE: #00d3ff;
$GLOWING_RED: #ff1b00;
$BLACK: #000;
$WHITE: #fff;

$MAIN_COLOR: $BLACK;
$SECONDARY_COLOR: $WHITE;
$BANNER_BACKGROUND: $SPACE_GRAY;
$PANEL_BACKGROUND: darken($SPACE_GRAY, 5);

$BTN_PRIMARY: lighten($MIDNIGHT_SPACE_GRAY, 15);

$BOX_SHADOW: 0px 0px 5px 2px rgba($GLOWING_BLUE, 0.75);