$BASE_FONT_SIZE: 13px;
$HEADER_SIZE: 5rem;
$FOOTER_SIZE: 3rem;
$SIDEBAR_SIZE: 250px;
$BORDER_RADIUS_SIZE: 1.2rem;

$SPACE_GRAY: #343d46;
$MIDNIGHT_SPACE_GRAY: #03475f;
$DARK_BLUE: #000171;
$BLUE: #0085e3;
$GLOWING_BLUE: #00d3ff;
$PALE_BLUE: #bae6fa;
$DARK_RED: #700b00;
$GLOWING_RED: #ff1b00;
$GOLD: #ff9700;
$PALE_RED: #ffa398;
$DARK_GREEN: #117900;
$GLOWING_GREEN: #2bff00;
$PALE_GREEN: #c6ffc1;
$BLACK: #000;
$WHITE: #fff;
$DARK_WHITE: #e2e2e2;

$TEXT_COLOUR: $DARK_WHITE;
$MAIN_COLOR: $BLACK;
$SECONDARY_COLOR: $WHITE;
$BANNER_BACKGROUND: $SPACE_GRAY;
$PANEL_BACKGROUND: darken($SPACE_GRAY, 5);
$DARK_PANEL_BACKGROUND: darken($SPACE_GRAY, 15);

$BTN_PRIMARY: lighten($MIDNIGHT_SPACE_GRAY, 15);

$BOX_SHADOW: 0px 0px 5px 2px rgba($GLOWING_BLUE, 0.75);