@import "vars";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600');
@import url('../../../public/css/font-awesome.min.css');

html, body {
  font-size: $BASE_FONT_SIZE;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;

  * {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.45pt;
  }

  h1 {
    margin: 0;
  }

  .container {
    width: 100%;
    height: 100%;
    #app {
      width: 100%;
      height: 100%;
    }
  }
}

.text {
  &.text-primary {
    color: $WHITE;
  }

  &.text-danger {
    color: $GLOWING_RED;
  }

  font-weight: 400;

  &.bold {
    font-weight: 600;
  }
}

.btn {
  background-color: lighten($SPACE_GRAY, 20);
  color: $WHITE;
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 0.5em;

  &.btn-primary {
    background-color: $BTN_PRIMARY;
    border: 1px solid darken($BTN_PRIMARY, 5);
  }

  &.btn-default {
    background-color: lighten($SPACE_GRAY, 20)
  }
}

.auth-message {
  position: relative;
  font-weight: 500;
  background-color: $PALE_BLUE;
  color: $DARK_BLUE;
  padding: 8px;
  border: 1px solid $DARK_BLUE;

  &.success {
    background-color: $PALE_GREEN;
    color: $DARK_GREEN;
    border: 1px solid $DARK_GREEN;
  }

  &.error {
    background-color: $PALE_RED;
    color: $DARK_RED;
    border: 1px solid $DARK_RED;
  }

  .close {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
  }
}
