@import "vars";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600');
@import url('../../../public/css/font-awesome.min.css');

html, body {
  background-color: #ffffff;
  color: $TEXT_COLOUR;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;

  * {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.45pt;
  }

  h1 {
    margin: 0;
  }

  > .container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    #app {
      width: 100%;
      height: 100%;
    }
  }
}

.text {
  color: $TEXT_COLOUR;
}

.bold {
  font-weight: 600;
}

.auth-message {
  position: relative;
  font-weight: 500;
  background-color: $PALE_BLUE;
  color: $DARK_BLUE;
  padding: 8px;
  border: 1px solid $DARK_BLUE;

  &.success {
    background-color: $PALE_GREEN;
    color: $DARK_GREEN;
    border: 1px solid $DARK_GREEN;
  }

  &.error {
    background-color: $PALE_RED;
    color: $DARK_RED;
    border: 1px solid $DARK_RED;
  }

  .close {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
  }
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
