@import "../vars";

.classification {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
  }

  @media (max-width: 991px) {
    border-bottom: 1px solid $SPACE_GRAY;
  }

  .categories {
    text-align: center;
    width: 100%;
    h4 {
      display: inline-block;
      padding: 10px 5px;
      box-sizing: border-box;
    }
  }
}

.preferences {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 992px) {
    border-left: 1px solid $SPACE_GRAY;
  }

  .slider {
    margin: 40px 0;
    text-align: center;
    width: 70%;

    .rc-slider-rail, .rc-slider-track {
      height: 10px;
    }

    .rc-slider-dot {
      height: 0;
      width: 0;
      visibility: hidden;
    }

    .rc-slider-handle {
      height: 20px;
      width: 20px;
    }
  }
}