@import "../vars";

h2, h3, h4 {
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
}

h3, h4 {
  text-decoration: underline;
}

.trends {
  background-color: $DARK_WHITE;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  color: $SPACE_GRAY;

  .trends-list {
    overflow: auto;
    max-height: 600px;

    .trend {
      display: block;
      margin: 10px;
      color: $BLUE;
      font-weight: bold;
      word-break: break-all;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.trend-data {
  background-color: $DARK_WHITE;
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  color: $SPACE_GRAY;
  min-height: 500px;
  overflow: auto;

  .container-fluid {
    @media(min-width: 1200px) {
      margin: 0 80px;
    }
  }

  &.empty {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;

    .empty-box {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
    }
  }

  h2 {
    text-align: center;
    margin: 20px 0;
    //justify-self: flex-start;
  }
}