@import "../../style/vars";

.banner {
  height: 4.5em;
  background-color: $BANNER_BACKGROUND;
  color: $SECONDARY_COLOR;
  overflow: hidden;
  .banner-left {
    margin-left: 2rem;
    float: left;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .brand-image {
      display: inline-block;
    }
    .navigation {
      margin: 0 20px;
      .link {
        margin: 0 15px;
      }
    }
  }

  .banner-right {
    margin-right: 2rem;
    float: right;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .spacer {
      padding: 0 1.5em;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.35em;
    }
  }

  .link, span {
    font-weight: 500;
    font-size: 1.2em;
    margin: 0 5px;
  }
}