@import "../../style/vars";

.action-button {
  display: inline-block;
  border-radius: 100%;
  padding: 1.5em;
  transition: 0.4s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);

  i {
    transition: 0.4s;
  }

  &.hover, &:hover {
    cursor: pointer;
    i {
      box-shadow: none;
	  color: $WHITE;
      &.invert {
        color: $BLACK;
      }
    }
  }
}