@import "./_vars";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600');
@import url('../../public/css/font-awesome.min.css');

html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-size: $BASE_FONT_SIZE;
  width: 100vw;
  height: 100vh;

  * {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.45pt;
  }

  .container {
    width: 100%;
    height: 100%;
    #app {
      width: 100%;
      height: 100%;
    }
  }
}

.text-primary {
  color: $WHITE;
  font-weight: 400;
  &.bold {
    font-weight: 600;
  }
}

.btn {
  color: $WHITE;
  background-color: lighten($SPACE_GRAY, 20);
  border-radius: 0.5em;
  padding: 5px;
  border: none;

  &.btn-primary {
    background-color: $BTN_PRIMARY;
    border: 1px solid darken($BTN_PRIMARY, 5);
  }

  &.btn-default {
    background-color: lighten($SPACE_GRAY, 20)
  }
}
