@import "../_vars.scss";

.login-box {
  width: 40%;
  margin: 2em;
  padding: 1.5em;
  border: 1px solid $BLACK;
  border-radius: $BORDER_RADIUS_SIZE;
  background-color: rgba($PANEL_BACKGROUND, 0.8);
}